<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814377121980-073a12fc6u4j7t3i42r5lm6l6m50vjbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814377121980-073a12fc6u4j7t3i42r5lm6l6m50vjbu</string>
	<key>API_KEY</key>
	<string>AIzaSyCORdPo1P0FESf7m-JSk9ovB_oQxViz3vk</string>
	<key>GCM_SENDER_ID</key>
	<string>814377121980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.itesm.A01656818.GaleneApp</string>
	<key>PROJECT_ID</key>
	<string>galeneapp</string>
	<key>STORAGE_BUCKET</key>
	<string>galeneapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814377121980:ios:3a52b2e3e0563f7f0178b9</string>
</dict>
</plist>